@{
    ViewData["Title"] = "Resultado da Operação";
}

<h1>Resultado da @ViewBag.Operacao</h1>
@switch (@ViewBag.Sinal)
{
    case "+":
        <p>A soma de @ViewBag.N1 + @ViewBag.N2 é igual a @ViewBag.Resultado</p>
        break;
    case "-":
        <p>A subtração de @ViewBag.N1 - @ViewBag.N2 é igual a @ViewBag.Resultado</p>
        break;
    case "*":
        <p>A multiplicação de @ViewBag.N1 * @ViewBag.N2 é igual a @ViewBag.Resultado</p>
        break;
    case "/":
        <p>A divisão de @ViewBag.N1 / @ViewBag.N2 é igual a @ViewBag.Resultado</p>
        break;
}

